@font-face {
  font-family: 'Marcellus1';
  src: url('./Marcellus-Regular.ttf');
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16;
  color:#081430
}

/* General */

button {
  font-size: 14px;
  letter-spacing: .4px;
  font-weight: bold;
  color: white;
  background-color: #DD013F;
  border-style: solid;
  border-width: 2px;
  border-color: #DD013F;
}

button:hover{
  background-color: #FFFFFF;
  border-style: solid;
  color: #DD013F;
  border-color: #DD013F;
}

/* BODY */

#logo{
  font-family: 'Marcellus1', sans-serif;
  font-size: 48px;
  width: 80vw;
  text-align: left;
  border-bottom: 1px solid black;
  margin-top: 5vh;
  margin-bottom: 2.5vh;
}

#userSection{
  display: flex;
  width:70%;
  justify-content: flex-end;
  margin-bottom: 2.5vh;
}

#userListFull{
  width:70vw;
}

#userListTop{
  width:100%;
  height:40px;
  display:flex;
  background-color: #DD013F;
  align-items: center;
}

#userList{
  padding-left: 2%;
  color:white;
  font-size: 24px;
}
#userInputHeader{
  width:100%;
  background-color: #DD013F;
}

#userInputHeaderTop{
  text-align: left;
  font-size: 24px;
  color:white;
  font-weight: bold;
  padding-left: 5%;
}

.userInputSection{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:90%;
  min-height: 7.5%;
}

.inputHeader{
  color:black;
  text-align: left;
  width: 100%;
  font-weight: bold;
  font-size: 18px;

}

.userInputField{
  width:100%;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 2px;
  height: 20px;
  font-size: 16px;
}


.save{
  margin-right: 5%;
}

/* TOAST */

.custom-toast{
  color:black;
  font-size: 25px;
  font-weight: bold;
  --toastify-color-progress-dark: black;

}

/* TABLE */

table {
  border: 1px solid red;
  width: 70vw;
  height: 200px;
  border-collapse: collapse;
}
 
th {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}


td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-top: 1pt solid black;

}

.tablePic{
  height: 50px;
}

/* NEW USER MODAL */

#newUserModal{
  max-width: fit-content;
  max-height: fit-content;
  position:absolute;
  transform:translate(66.5%, 25%);
  padding: 0px !important
}

#newUser{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 50vh;
}

/* EDIT USER MODAL */

#editUserModal{
  max-width: fit-content;
  max-height: fit-content;
  position:absolute;
  transform:translate(66.5%, 25%);
  padding:0px !important
}

#editUser{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 30vw;
}

/* DELTEE USER MODAL */

#deleteUserModal{
  max-width: fit-content;
  min-height: fit-content;
  position:absolute;
  transform:translate(66.5%, 100%);
  padding: 0px !important
}

#deleteUser{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 30vh;
}

.confirm{
  display: flex;
  justify-content: flex-end;
  justify-self: right;
  width: 100%;
  margin-bottom: 20px;
  gap:20px;
}